@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
  /** font size **/
  --primary-text: 1.8em;
  --normal-text: 1.0em;
  
  /** text color **/
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
#header{
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#header ul.navbar{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 75px;
}
ul.navbar li.links{
  width: 120px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--normal-text);
}
ul.navbar a{
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}